@model Potlucky.Models.Message
     
@{
    Layout = "_FormLayout";
    ViewData["Title"] = "Send Message";
}
<!DOCTYPE>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Send messages</title>
</head>
<body>
    <div>
        <p>Post messages and comments about our next gathering here, 
        this page is used for planning what dishes everyone will bring and where the next potluck is</p>
    </div>
    <form asp-action="AddMessage" method="post">
        <div class="form-group">
            <label asp-for="Sender.FirstName">First Name:</label>
            <input class="form-control col-6" name="firstName" asp-for="Sender.FirstName" /><br />
        </div>
        <div class="form-group">
            <label asp-for="Sender.LastName">Last Name:</label>
            <input class="form-control col-6"  name="lastName" asp-for="Sender.LastName" /><br />
        </div>
        <div class="form-group">
            <label asp-for="Sender.Email">Email:</label>
            <input class="form-control col-6" name="email" asp-for="Sender.Email" /><br />
        </div>
        <div class="form-group">
            <label asp-for="MessageText">Message:</label>
            <textarea class="form-control col-6" asp-for="MessageText"></textarea><br />
        </div>
        <div class="form-group">
            <button class="btn btn-default" type="submit">Send Message</button>
        </div>
</form>
</body>
</html>
