      
@{
    Layout = "_FormLayout";
    ViewData["Title"] = "Send Message";
}
<!DOCTYPE>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Send messages</title>
</head>
<body>
    <div>
        <p>Post messages and comments about our next gathering here, 
        this page is used for planning what dishes everyone will bring and where the next potluck is</p>
    </div>
    <form method="post">
        <div class="form-group">
            <label for="firstName">First Name:</label>
            <input class="form-control col-6" name="firstName" /><br />
        </div>
        <div class="form-group">
            <label for="lastName">Last Name:</label>
            <input class="form-control col-6" name="lastName" /><br />
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input class="form-control col-6" name="email" /><br />
        </div>
        <div class="form-group">
            <label for="messageText">Message:</label>
            <textarea class="form-control col-6" name="messageText"></textarea><br />
        </div>
        <div class="form-group">
            <button class="btn btn-default" type="submit">Send Message</button>
        </div>
</form>
</body>
</html>
