
@{
    Layout = null;
}
<!DOCTYPE>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Send messages</title>
</head>
<body>
    <div>
        <p>Post messages and comments about our next gathering here, 
        this page is used for planning what dishes everyone will bring and where the next potluck is</p>
    </div>
    <form method="post">
        <p>
            <label for="date">Date:</label>
            <input name="date" /><br />
        </p>
        <p>
            <label for="firstName">First Name:</label>
            <input name="firstName" /><br />
        </p>
        <p>
            <label for="lastName">Last Name:</label>
            <input name="lastName" /><br />
        </p>
        <p>
            <label for="email">Email:</label>
            <input name="email" /><br />
        </p>
        <p>
            <label for="messageText">Message:</label>
            <textarea name="messageText"></textarea><br />
        </p>
        <button type="submit">Send Message</button>
    </form>
</body>
</html>