@{
    Layout = null;

}
<!DOCTYPE>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add users here</title>
</head>
<body>
    <div>
        <p>View and Add Users Here</p>
    </div>
    <form method="post">
        <p>
            <label for="firstName">First Name:</label>
            <input name="firstName" /><br />
        </p>
        <p>
            <label for="lastName">Last Name:</label>
            <input name="lastName" /><br />
        </p>
        <p>
            <label for="email">Email:</label>
            <input name="email" /><br />
        </p>
        <button type="submit">Add User</button>
    </form>
</body>
</html>
