@model List<User>

@{
    Layout = null;
}

<!DOCTYPE>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List of members</title>
</head>
<body>
    List of members: <br />
    @foreach(User user in Model)
    {
        @user.FirstName; <br />
        @user.LastName; <br />
        @user.Email; <br />
        <a asp-action="UserDetail" asp-route-firstName="@user.FirstName">View Details</a>
        <br />

    }
    
    <br>
    <a href="/User/AddUser">Add a user</a><br />
    <a href="/Home">Home</a>

   </body>
</html>
