@{
    Layout = null;

}
<!DOCTYPE>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Send messages and comments to the group here</title>
</head>
<body>
    <div>
        <p>Place to write and submit messages</p>
    </div>
    <form></form>
</body>
</html>
