
@{
    Layout = null;

}
<!DOCTYPE>
<html>
<head>
    <h2>Send messages and comments to the group here</h2>
</head>
<body>
    <div>
        <p>Place to write and submit messages</p>
    </div>
</body>
</html>
