@{
    Layout = null;

}
<!DOCTYPE>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Send messages and comments to the group here</title>
</head>
<body>
    <div>
        <p>Place to write and submit messages</p>
    </div>
    <form method="post">
        <label for="Send to username">Send To:</label>
        <input name="Send To:" /><br />
        <label for="From Username">From:</label>
        <input name="From:" /><br />
         <label for="Message to send">Message:</label>
        <input name="Message:" /><br />
    </form>
</body>
</html>
