@{
    Layout = null;

}
<!DOCTYPE>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Send messages and comments to the group here</title>
</head>
<body>
    <div>
        <p>Place to write and submit messages</p>
    </div>
    <form method="post">
        <p>
            <label for="Send to username">Send To:</label>
            <input name="Send To:" /><br />
        </p>
        <p>
            <label for="From Username">From:</label>
            <input name="From:" /><br />
        </p>
        <p>
            <label for="Message to send">Message:</label>
            <input name="Message:" /><br />
        </p>
            <button type="submit">Send Message</button>
    </form>
</body>
</html>
