@{
    ViewData["History"] = "Title";
}

    <div>
        <p>
           I started this site to plan better Thanksgivings with family and friends.<br /> 
        Instead of one person trying to coordinate everything themselves,<br /> on Potlucky 
        everyone can share in the planning together.<br /> I wanted a place to plan potlucks where everyone 
        can see the dishes that are being brought<br /> and coordinate dates, times, and places through<br/>
        a user list and message board posts.                         
        </p>
        <img src="~/Images/rawturkey.jpg" alt="Nicolette preparing turkey">
    </div>

