
@{
    Layout = null;
}
<!DOCTYPE>
<html>
<head>
    <h2>History of the group </h2>
</head>
<body>
    <div>
        <p>
            Why it was started and what this site was intended for
        </p>
    </div>
    
</body>
</html>