
    <div>
        <p>Welcome to Potlucky! Plan your next gathering here.</p>
        <ul>
            <li><a asp-action="History">History Page</a></li>
            <li><a asp-action="Info">More Information</a></li>
            <li><a href="/User/Index">View and add members here</a></li>
            <li><a href="/Message/Index">View and send messages here</a></li>
        </ul>
    </div>
