
    <div>
        <p>Welcome to Potlucky! Plan your next gathering here.</p>
        <ul>
            <li><a asp-action="History">History Page</a></li>
            <li><a asp-action="Info">More Information</a></li>
            <li><a href="/User/Index">View and add members here</a></li>
            
        </ul>
        <br />
        <h3>Controller Method examples</h3>
        <ol>
            <li><a asp-action="NotFoundExample">NotFoundExample</a> Hit F12 to see status code 404</li>
            <li><a asp-action="NoContentExample">NoContentExample</a> Hit F12 to see status code 204</li>
            <li><a asp-action="JsonExample">JsonExample</a></li>
            <li><a asp-action="StringExample">StringExample</a></li>
        </ol>
    </div>
