@*@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@


@{
    Layout = null;

}
<!DOCTYPE>
<html>
<head>
    <h2>Welcome to Potlucky! Plan your next gathering here.</h2>
</head>
<body>
    <div>
        <p>Home page </p>
    </div>
</body>
</html>