@{
    Layout = null;

}
<!DOCTYPE>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>This page displays announcements, upcoming events</title>
</head>
<body>
    <div>
        <p>text possibly images here</p>
        <ul>
            <li><a asp-action="People">Featured Cook</a></li>
            <li><a asp-action="Schedule">Upcoming events</a></li>
        </ul>
    </div>
</body>
</html>
