@{
    ViewData["Info"] = "Title";

}

    <div>
        <p>text possibly images here</p>
        <ul>
            <li><a asp-action="People">Featured Cook</a></li>
            <li><a asp-action="Schedule">Upcoming events</a></li>
        </ul>
    </div>

