
@{
    Layout = null;

}
<!DOCTYPE>
<html>
<head>
    <h2>This page displays announcements, upcoming events</h2>
</head>
<body>
    <div>
        <p>text possibly images here</p>
    </div>
</body>
</html>
