@{
    ViewData["Title"] = "People of note";

}


    <div>
        <p>
            This page showcases our favorite cook and their dish from the last potluck.
            img
            bio
            recipe
            goes here
        </p>
    </div>

