
@{
    Layout = null;

}
<!DOCTYPE>
<html>
<head>
    <h2>This page showcases our favorite cook and their dish from the last potluck.</h2>
</head>
<body>
    <div>
        <p>
            img
            bio
            recipe
            goes here
        </p>
    </div>
</body>
</html>
