@{
    Layout = null;

}
<!DOCTYPE>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>This page showcases our favorite cook and their dish from the last potluck.</title>
</head>
<body>
    <div>
        <p>
            img
            bio
            recipe
            goes here
        </p>
    </div>
</body>
</html>
