@{
    Layout = null;
}
<!DOCTYPE>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>This page displays the next event time and location :)</title>
</head>
<body>
    <div>
        <p>Unordered list of times dates and locations</p>
     
        <button onclick="back()">Back</button>
        <script>
            function back() {
                window.history.back();
            }
        </script> 
    </div>
 </body>
</html>