
@{
    Layout = null;
}
<!DOCTYPE>
<html>
<head>
    <h2>This page displays the next event time and location :)</h2>
</head>
<body>
    <div>   
        <p> unordered list of times dates and locations</p>
    </div>
 </body>
</html>