@{
    ViewData["Title"] = "Upcoming Events";
}

    <div>
        <p>Unordered list of times dates and locations</p>
     
        <button onclick="back()">Back</button>
        <script>
            function back() {
                window.history.back();
            }
        </script> 
    </div>
